.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #6060FF;
    background: -moz-linear-gradient(left, #6060FF 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #6060FF 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #6060FF 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #6060FF 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #6060FF 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #6060FF;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1100px) {
    .loader {
        width: 10vw;
        height: 10vw;
    }

    .stiiick {
        width: 40vw;
        height: 10vw;
        padding: 2.5vw
    }

    .headerContainer {
        width: 100vw;
        height: 10vh;
        border-bottom: lightgrey 1px solid;
        margin-top: -7vh;
    }

    .ask {
        color: red;
        font-size: 4vw;
    }

    .have {
        margin-top: 3vh;
        text-align: center;
    }

    .headerTitle {
        text-align: center;
    }

    .form {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 80vw;
        height: 30vh;
        border-radius: 5vw;
        border: 1px #6060FF solid;
        padding: 5vw;
        font-size: 4vw;
        margin-top: 5vh;
    }

    .emailInput {
        width: 80vw;
        height: 5vh;
        padding: 2vw;
        border-radius: 5vw;
        border: 1px #6060FF solid;
        font-size: 4vw;
        margin-top: 1vh;
    }

    .emailInput:focus {
        outline: none;
    }

    .input:focus {
        outline: none;
    }

    .contact {
        color: #6060FF;
        margin-top: 5vh;
        text-align: center;
        font-size: 4vw;
    }
    .send {
        color: #6060FF;
        font-weight: bold;
        margin-top: 7vh;
        cursor: pointer;
    }

    .thank {
        text-align: center;
        margin-top: 5vh;
    }
}

@media screen and (min-width: 1100px) {
    .stiiick {
        width: 28vh;
        height: 7vh;
        padding: 1vw;
        object-fit: contain;
        padding-left: 15vw;
    }

    .headerContainer {
        width: 100vw;
        height: 9vh;
        padding-bottom: 1vh;
        border-bottom: lightgrey 1px solid;
        position: fixed;
        top: 0;
        background: #ffffff;
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .ask {
        color: red;
        font-size: 4vw;
    }

    .have {
        margin-top: 3vh;
        text-align: center;
        width: 40vw;
    }

    .headerTitle {
        text-align: center;
    }

    .form {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 80%;
        height: 30vh;
        border-radius: 2vw;
        border: 1px #6060FF solid;
        padding: 2vw;
        margin-top: 5vh;
        font-size: 1vw;
    }

    .emailInput {
        width: 80%;
        height: 5vh;
        padding: 1vw;
        border-radius: 2vw;
        border: 1px #6060FF solid;
        margin-top: 1vh;
        font-size: 1vw;
    }

    .emailInput:focus {
        outline: none;
    }

    .input:focus {
        outline: none;
    }

    .send {
        color: #6060FF;
        font-weight: bold;
        margin-top: 7vh;
        font-size: 1.25vw;
        cursor: pointer;
    }

    .thank {
        text-align: center;
        margin-top: 5vh;
    }

    .contact {
        color: #6060FF;
        margin-top: 5vh;
    }

}

.link {
    text-decoration: none;
    color: #6060FF;
}

.link:hover {
    text-decoration: underline;
}
