.button {
    border-radius: 40px;
    align-self: center;
    /*border-color: var(--black);*/
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 48px;
    margin-top: 2vh;
}

@media screen and (max-width: 1100px) {
    .button {
        width: 90vw;
    }
}

.text {
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.colored {
    background: linear-gradient(to right, var(--secondaryB-color), var(--secondaryA-color));
}

.black {
    background-color: var(--black);
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
