.item {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
}

.text {
    margin-left: 20px;
}

.item:hover {
    background-color: var(--hover-light-color);
    cursor: pointer;
}
