@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

:root {
    --theme-color: #6060FF;
    --hover-light-color: rgba(0, 0, 0, 0.05);
    --hover-color: rgba(0, 0, 0, 0.1);
    --primary-color: #6060FF;
    --secondaryA-color: #8040FF;
    --secondaryB-color: #4080FF;
    --black: #0F0F28;
    --grey: #56606D;
    --silver: #484960;
    --success: #34A853;
    --navbar-height: 60px
}

/*@font-face {*/
/*  font-family: 'SirinStencil-Regular';*/
/*  src: url('../assets/fonts/SirinStencil-Regular.ttf') format('truetype');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/


* {
    font-family: sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p {
    color: var(--black);
    font-size: 15px;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    /* Removes the border */
    border: none;

    /* Resets the background to none */
    background: none;


    /* Resets the padding */
    padding: 0;

    /* Resets the margin */
    margin: 0;

    /* Sets the font to inherit from the parent */
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    /* Removes the default button appearance in WebKit browsers */
    -webkit-appearance: none;

    /* Removes the default button appearance in Firefox */
    -moz-appearance: none;

    /* Cursor to denote clickable */
    cursor: pointer;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.screenContainer {
    display: flex;
    padding: 52px;
    padding-top: 15vh;
    flex-direction: column;
    overflow-x: hidden;
    width: 860px;
    min-height: 80vh;
}

.vaultMain {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 260px;
    padding-bottom: 8vh;
    min-height: 90vh;
    padding-top: var(--navbar-height);
}

.vaultScreenContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-left: 52px;
    padding-top: 20px;
    width: 100%;
}

.box {
    width: 520px;
    box-shadow: 2px 6px 20px 10px rgba(0, 0, 0, 0.15);
    padding: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 34px;
    min-height: 50vh;
}

@media screen and (max-width: 1100px) {
    .box {
        width: 90vw;
    }
}

.centerScreen {
    align-self: center;
    align-items: center;
}

.blackColor {
    color: var(--black)
}

.greyColor {
    color: var(--grey)
}

.silverColor {
    color: var(--silver)
}

.primaryColor {
    color: var(--primary-color)
}

@media screen and (max-width: 1100px) {
    .screenContainer {
        width: 90vw;
    }
}
